[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Anashwara16
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Anashwara16
	label-Verified = -1..+1 group user/Anashwara16
	push = group user/Anashwara16
	read = group user/Anashwara16
	rebase = group user/Anashwara16
	removeReviewer = group user/Anashwara16
	submit = group user/Anashwara16
[access "refs/heads/*"]
	create = group user/Anashwara16
	push = +force group user/Anashwara16
	pushMerge = group user/Anashwara16
	read = group user/Anashwara16
[access "refs/tags/*"]
	push = group user/Anashwara16
	push = +force group user/Anashwara16
